<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View sewing patterns</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
    <div class="container p-3 my-5 bg-light border-primary">
    <h1>Sewing Patterns</h1>
    <div><button id="button-showCreate" onclick="showCreate()">Add a sewing pattern</button></div>
    
    <table id="patternTable">
        <thead>
            <tr>
                <th>PatternID</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Fabric Type</th>
                <th>Description</th>
                <th>OwnerID</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>V9075</td>
                <td>Vogue</td>
                <td>Dress</td>
                <td>Woven</td>
                <td>Gathered Skirt</td>
                <td>1</td>
                <td><button onclick="showUpdate(this)">Update</button></td>
                <td><button onclick="doDelete(this)">Delete</button></td>
            </tr>
            <tr>
                <td>S8014</td>
                <td>Simplicity</td>
                <td>Dress</td>
                <td>Woven</td>
                <td>Shirt dress</td>
                <td>1</td>
                <td><button onclick="showUpdate(this)">Update</button></td>
                <td><button onclick="doDelete(this)">Delete</button></td>
            </tr>
            <tr>
                <td>S2247</td>
                <td>Simplicity</td>
                <td>Dress</td>
                <td>Woven</td>
                <td>Princess seam dress with short sleeves</td>
                <td>1</td>
                <td><button onclick="showUpdate(this)">Update</button></td>
                <td><button onclick="doDelete(this)">Delete</button></td>
            </tr>
            <tr>
                <td>B6720</td>
                <td>Butterick</td>
                <td>Coat</td>
                <td>Woven</td>
                <td>Loose fitting coat with belt</td>
                <td>1</td>
                <td><button onclick="showUpdate(this)">Update</button></td>
                <td><button onclick="doDelete(this)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>

    <br/>
    <div id="createUpdateForm" style="display:none">
        <!-- spans are like divs but do not go onto a new line -->
        <h2><span id="createLabel">Create a</span> <span id="updateLabel">Update this</span> Sewing Pattern</h2>
        PatternID<input type="text" name="patternID"><br/>
        Brand <input type="text" name="brand"><br/>
        Category <input type="text" name="category"><br/>
        Fabric Type<input type="text" name="fabric_type"><br/>
        Description<input type="text" name="description"><br>
        OwnerID<input type="number" name="ownerID"><br>
        <span><button id="button-doCreate" onclick="doCreate()">Create</button></span>
        <span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>
         <!-- "display:none" will make it hidden-->
    
    </div>

<br>

<script>
    //console.log("hello world")
    function showCreate(){
        document.getElementById("createUpdateForm").style.display = "block"
        document.getElementById("button-doCreate").style.display = "block"
        document.getElementById("button-doUpdate").style.display = "none"
        document.getElementById("createLabel").style.display = "inline"
        document.getElementById("updateLabel").style.display = "none"
        document.getElementById("button-showCreate").style.display = "none"
        document.getElementById("patternTable").style.display = "none"
    }

    function showUpdate(buttonElement){
        document.getElementById("createUpdateForm").style.display = "block"
        document.getElementById("button-doCreate").style.display = "none"
        document.getElementById("button-doUpdate").style.display = "block"
        document.getElementById("createLabel").style.display = "none"
        document.getElementById("updateLabel").style.display = "inline"
        document.getElementById("button-showCreate").style.display = "none"
        document.getElementById("patternTable").style.display = "none"

        rowElement= buttonElement.parentNode.parentNode
        pattern = getPatternFromRow(rowElement)
        //console.log("updating")
        //console.log(Pattern)
        populateFormWithPattern(pattern)
    }

    function showViewall(){
        document.getElementById("createUpdateForm").style.display = "none"
        document.getElementById("button-showCreate").style.display = "block"
        document.getElementById("patternTable").style.display = "block"
        
    }
    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="patternID"]').disabled = false
        form.querySelector('input[name="patternID"]').value =''
        form.querySelector('input[name="brand"]').value=''
        form.querySelector('input[name="category"]').value =''
        form.querySelector('input[name="fabric_type"]').value= ''
        form.querySelector('input[name="description"]').value=''
        form.querySelector('input[name="ownerID"]').value=''
    }
    
    function getPatternFromForm(){
        var form = document.getElementById('createUpdateForm')
        var pattern = {}

        pattern.patternID = form.querySelector('input[name="patternID"]').value
        pattern.brand = form.querySelector('input[name="brand"]').value
        pattern.category = form.querySelector('input[name="category"]').value
        pattern.fabric_type = form.querySelector('input[name="fabric_type"]').value
        pattern.description = form.querySelector('input[name="description"]').value
        pattern.ownerID = form.querySelector('input[name="ownerID"]').value
        //console.log(JSON.stringify(pattern))
        return pattern
    }

    function populateFormWithPattern(pattern){
        var form = document.getElementById('createUpdateForm');

        form.querySelector('input[name="patternID"]').disabled = true;
        form.querySelector('input[name="patternID"]').value  = pattern.patternID;
        form.querySelector('input[name="brand"]').value= pattern.brand;
        form.querySelector('input[name="category"]').value= pattern.category;
        form.querySelector('input[name="fabric_type"]').value= pattern.fabric_type;
        form.querySelector('input[name = "description"]').value = pattern.description;
        form.querySelector('input[name="ownerID"]').value = pattern.ownerID;
    }


    function addPatternToTable(pattern){
        var tableElement = document.getElementById('patternTable')
        var rowElement = tableElement.insertRow(-1)
        
        rowElement.id = pattern.patternID
        
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = pattern.patternID
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = pattern.brand
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = pattern.category
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = pattern.fabric_type
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = pattern.description
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = pattern.ownerID
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
        var cell8 = rowElement.insertCell(7);
        cell8.innerHTML = '<button onclick=doDelete(this)>delete</button>'
    }

    function getPatternFromRow(rowElement){
        var pattern ={}

        pattern.patternID  = rowElement.cells[0].textContent
        pattern.brand = rowElement.cells[1].textContent
        pattern.category = rowElement.cells[2].textContent
        pattern.fabric_type = rowElement.cells[3].textContent
        pattern.description = rowElement.cells[4].textContent
        pattern.ownerID = rowElement.cells[5].textContent
        return pattern
    }

    function setPatternInRow(rowElement, pattern){
        rowElement.cells[0].firstChild.textContent= pattern.patternID
        rowElement.cells[1].firstChild.textContent= pattern.brand
        rowElement.cells[2].firstChild.textContent= pattern.category
        rowElement.cells[3].firstChild.textContent= pattern.fabric_type
        rowElement.cells[4].firstChild.textContent= pattern.description
        rowElement.cells[5].firstChild.textContent= pattern.ownerID
    
    }

    function doCreate(){
        console.log("creating a sewing pattern")
        pattern = getPatternFromForm()
        //console.log(pattern)
        createPatternAjax(pattern)
    }

    function doUpdate(){
        pattern= getPatternFromForm()
        var rowElement = document.getElementById(pattern.patternID)

        updatePatternAjax(pattern)
        setPatternInRow(rowElement, pattern)
        clearForm()
        showViewall()
    }

    function doDelete(buttonElement){
        console.log("in delete")
        var tableElement = document.getElementById('patternTable');
        var rowElement = buttonElement.parentNode.parentNode;
        var index = rowElement.rowIndex;
        // I need the pattern number
        
        //console.log("deleting "+ rowElement.getAttribute("patternID"))
        deletePatternAjax(rowElement.getAttribute("patternID"))
        tableElement.deleteRow(index);
        showViewall()
    }

    // populate the table
    function processGetAllResponse(result){
        console.log("in process")
        //console.log(result)
        for (pattern of result){
            //console.log(pattern)
            // issue the format of the pattern object is different from lab06.02
            // there are two solutions change the pattern object in lan06.02 to have capitals
            // or convert
            displayPattern = {}
            displayPattern.patternID = pattern.patternID
            displayPattern.brand = pattern.brand
            displayPattern.category = pattern.category
            displayPattern.fabric_type = pattern.fabric_type
            displayPattern.description = pattern.description
            displayPattern.ownerID = pattern.ownerID

            // you can now pass it to addPatternToTable
            //console.log(displayPattern)
            addPatternToTable(displayPattern)
        }
    }

    function convertDisplayPatternToServerPattern(displayPattern){
        serverPattern = {}
        serverPattern.patternID = displayPattern.patternID
        serverPattern.brand = displayPattern.brand
        serverPattern.category = displayPattern.category
        serverPattern.description = displayPattern.description
        serverPattern.ownerID = displayPattern.ownerID 
        //serverPattern.price = parseInt(displayPattern.price) // convert the string to an int
        return serverPattern
    }

    function convertServerPatternToDisplayPattern(pattern){
        displayPattern = {}
        displayPattern.patternID = pattern.patternID
        displayPattern.brand = pattern.brand
        displayPattern.category = pattern.category
        displayPattern.description = pattern.description
        displayPattern.ownerID = pattern.ownerID
        return displayPattern
    }

    function processCreateResponse(result){
        displayPattern = convertServerPatternToDisplayPattern(result)
        addPatternToTable(displayPattern)
        showViewall()
        clearForm()
    }

    // I should set this as the default function for the callback
    function doNothing(result){
        console.log("nothing:"+result)
        return "done"
    }
     //getAll(processGetAllResponse)

    function getAllAjax(){
    $.ajax({
        "url": "/patterns",
        "method":"GET",
        "data":"",
        "dataType": "JSON",
        "success":function(result){
            //console.log(result);
            for (pattern of result){
                addPatternToTable(pattern);
            }
            
        },
        "error":function(xhr,status,error){
            console.log("error: "+status+" msg:"+error);
        }
    });
    }
function createPatternAjax(pattern){
    //var pattern = {"title":"yoto", "author":"momo","price":800}
    console.log(JSON.stringify(pattern));
    $.ajax({
        "url": "/patterns",
        "method":"POST",
        "data":JSON.stringify(pattern),
        "dataType": "JSON",
        contentType: "application/json; charset=utf-8",
        "success":function(result){
            //console.log(result);
            pattern.patternID = result.patternID
            addPatternToTable(pattern)
            clearForm()
            showViewAll()
        },
        "error":function(xhr,status,error){
            console.log("error: "+status+" msg:"+error);
        }
    });
}
function updatePatternAjax(pattern){
    //var book = {"title":"yoto", "author":"momo","price":800}
    console.log(JSON.stringify(pattern));
    $.ajax({
        "url": "/patterns/"+encodeURI(pattern.patternID),
        "method":"PUT",
        "data":JSON.stringify(pattern),
        "dataType": "JSON",
        contentType: "application/json; charset=utf-8",
        "success":function(result){
           // console.log(result);
              
        },
        "error":function(xhr,status,error){
            console.log("error: "+status+" msg:"+error);
        }
    });
}
function deletePatternAjax(patternID){
    
    //console.log(JSON.stringify('deleting '+id));
    $.ajax({
        "url": "/patterns/"+encodeURI(patternID),
        "method":"DELETE",
        "data":"",
        "dataType": "JSON",
        contentType: "application/json; charset=utf-8",
        "success":function(result){
            //console.log(result);
              
        },
        "error":function(xhr,status,error){
            console.log("error: "+status+" msg:"+error);
        }
    });
}
getAllAjax();
</script>
</html>
