<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View sewing patterns</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
    <div class="container p-3 my-5 bg-light border-primary">
    <h1>Sewing Patterns</h1>
    <div><button id="button-showCreate" onclick="showCreate()">Add a sewing pattern</button></div><br>
    
    <table class="table" id="patternTable">
        <thead>
            <tr>
                <th>PatternID</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Fabric Type</th>
                <th>Description</th>
                <th>Format</th>
                <th>OwnerID</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table table-hover">
        </tbody>
    </table>
    

    <br/>
    <div id="createUpdateForm" style="display:none">
        <!-- Form for creating and updating patterns -->
        <h2><span id="createLabel">Create a</span> <span id="updateLabel">Update</span> Sewing Pattern</h2>
        PatternID <br><input type="text" name="patternID"><br/>
        Brand <br><input type="text" name="brand"><br/>
        Category <br><select name="category">
            <option value="Coat">Coat</option>
            <option value="Coordinates">Coordinates</option>
            <option value="Dress">Dress</option>
            <option value="Jacket">Jacket</option>
            <option value="Shirt">Shirt</option>
            <option value="Skirt">Skirt</option>
            <option value="Sleepwear">Sleepwear</option>
            <option value="Trousers">Trousers</option>
            <option value="Top">Top</option><br>
            </select><br/>
        Fabric Type <br><select name="fabric_type">
            <option value="Woven">Woven</option>
            <option value="Stretch">Stretch</option>
            <option value="All">All</option><br/>
            </select><br/>
        Description <br><input name="description"><br>
        Format<br><select name="format">
            <option value="Paper">Paper</option>
            <option value="PDF">PDF</option>
            </select><br>
        OwnerID<br><input type="number" name="ownerID"><br><br>
        <span><button id="button-doCreate" onclick="doCreate()">Create</button></span>
        <span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>
    </div>

    </div>
</body>

<script>
    function showCreate(){
        document.getElementById("createUpdateForm").style.display = "block"
        document.getElementById("button-doCreate").style.display = "block"
        document.getElementById("button-doUpdate").style.display = "none"
        document.getElementById("createLabel").style.display = "inline"
        document.getElementById("updateLabel").style.display = "none"
        document.getElementById("button-showCreate").style.display = "none"
        document.getElementById("patternTable").style.display = "none"
    }

    function showViewAll(){
        console.log('Showing view all')
        document.getElementById("createUpdateForm").style.display = "none"
        document.getElementById("button-showCreate").style.display = "block"
        document.getElementById("patternTable").style.display = "block"
    }

    function showUpdate(buttonElement){
        //console.log('Updating pattern...');
        document.getElementById("createUpdateForm").style.display = "block";
        document.getElementById("button-doCreate").style.display = "none";
        document.getElementById("button-doUpdate").style.display = "block";
        document.getElementById("createLabel").style.display = "none";
        document.getElementById("updateLabel").style.display = "inline";
        document.getElementById("button-showCreate").style.display = "none";
        document.getElementById("patternTable").style.display = "none";

        var rowElement= buttonElement.parentNode.parentNode;
        var pattern = getPatternFromRow(rowElement);
        console.log('Pattern for update:', pattern);
        //console.log(Pattern)
        populateFormWithPattern(pattern);
    }

    function doCreate(){
        var form = document.getElementById('createUpdateForm');
        var pattern = {}

        pattern.patternID = form.querySelector('input[name="patternID"]').value
        pattern.brand = form.querySelector('input[name="brand"]').value
        pattern.category = form.querySelector('[name="category"]').value
        pattern.fabric_type = form.querySelector('[name="fabric_type"]').value
        pattern.description = form.querySelector('input[name="description"]').value
        pattern.format = form.querySelector('[name="format"]').value
        pattern.ownerID = form.querySelector('input[name="ownerID"]').value
        console.log(JSON.stringify(pattern))
        //console.log(pattern)
        createPatternAjax(pattern)
    }
    
    function doUpdate(){
        var form = document.getElementById('createUpdateForm');
        var pattern= getPatternFromForm();
        var rowElement = document.querySelector(`[patternID='${pattern.patternID}']`);

        if (rowElement) {
            updatePatternAjax(pattern);
            setPatternInRow(rowElement, pattern);
            clearForm();
            showViewAll();
        } else {
            console.log('Row element not found')
        }
    }
    
    function doDelete(r){
        console.log("in delete")
        var tableElement = document.getElementById('patternTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        
        //console.log("deleting "+ rowElement.getAttribute("patternID"))
        deletePatternAjax(rowElement.getAttribute("patternID"));
        tableElement.deleteRow(index);
        showViewAll()
    }
    
    function addPatternToTable(pattern){
        var tableElement = document.getElementById('patternTable')
        var rowElement = tableElement.insertRow(-1)
        
        rowElement.setAttribute('patternID', pattern.patternID)
        
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = pattern.patternID
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = pattern.brand
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = pattern.category
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = pattern.fabric_type
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = pattern.description
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = pattern.format
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = pattern.ownerID
        var cell8 = rowElement.insertCell(7);
        cell8.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
        var cell9 = rowElement.insertCell(8);
        cell9.innerHTML = '<button onclick=doDelete(this)>Delete</button>'
    }

    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="patternID"]').value =''
        form.querySelector('input[name="brand"]').value=''
        form.querySelector('[name="category"]').value =''
        form.querySelector('[name="fabric_type"]').value= ''
        form.querySelector('input[name="description"]').value=''
        form.querySelector('[name="format"]').value=''
        form.querySelector('input[name="ownerID"]').value=''
    }

    function getPatternFromRow(rowElement){
        var pattern ={}

        pattern.patternID  = rowElement.cells[0].textContent;
        pattern.brand = rowElement.cells[1].textContent;
        pattern.category = rowElement.cells[2].textContent;
        pattern.fabric_type = rowElement.cells[3].textContent;
        pattern.description = rowElement.cells[4].textContent;
        pattern.format = rowElement.cells[5].textContent;
        pattern.ownerID = rowElement.cells[6].textContent;
        return pattern
    }

    function setPatternInRow(rowElement, pattern){
        rowElement.cells[0].firstChild.textContent = pattern.patternID;
        rowElement.cells[1].firstChild.textContent = pattern.brand;
        rowElement.cells[2].firstChild.textContent = pattern.category;
        rowElement.cells[3].firstChild.textContent = pattern.fabric_type;
        rowElement.cells[4].firstChild.textContent = pattern.description;
        rowElement.cells[5].firstChild.textContent = pattern.format;
        rowElement.cells[6].firstChild.textContent = pattern.ownerID;
    }
    
    function populateFormWithPattern(pattern){
        console.log("Populating form with pattern:", pattern);

        var form = document.getElementById('createUpdateForm');
        form.querySelector('input[name="patternID"]').disabled = true;

        form.querySelector('input[name="patternID"]').value  = pattern.patternID;
        form.querySelector('input[name="brand"]').value= pattern.brand;
        
        var categorySelect = form.querySelector('[name="category"]');
        categorySelect.value = pattern.category;

        var fabricSelect = form.querySelector('[name="fabric_type"]');
        fabricSelect.value = pattern.fabric_type;

        form.querySelector('input[name = "description"]').value = pattern.description;

        var formatSelect = form.querySelector('[name="format"]');
        formatSelect.value= pattern.format;

        form.querySelector('input[name="ownerID"]').value = pattern.ownerID;
        return pattern;
    }


    function getPatternFromForm(){
        var form = document.getElementById('createUpdateForm')
        var pattern = {}
        
        pattern.patternID = form.querySelector('input[name="patternID"]').value
        pattern.brand = form.querySelector('input[name="brand"]').value
        pattern.category = form.querySelector('[name="category"]').value
        pattern.fabric_type = form.querySelector('[name="fabric_type"]').value
        pattern.description = form.querySelector('[name="description"]').value
        pattern.format = form.querySelector('[name="format"]').value
        pattern.ownerID = form.querySelector('[name="ownerID"]').value
        console.log(JSON.stringify(pattern))
        return pattern
    }
   
    // populate the table
    function processGetAllResponse(result){
        console.log("in process")
        //console.log(result)
        for (pattern of result){
            console.log(pattern)
            displayPattern = {}
            displayPattern.patternID = pattern.patternID
            displayPattern.brand = pattern.brand
            displayPattern.category = pattern.category
            displayPattern.fabric_type = pattern.fabric_type
            displayPattern.description = pattern.description
            displayPattern.format = pattern.format
            displayPattern.ownerID = pattern.ownerID

            // you can now pass it to addPatternToTable
            //console.log(displayPattern)
            addPatternToTable(displayPattern)
        }
    }

    function convertDisplayPatternToServerPattern(displayPattern){
        serverPattern = {}
        serverPattern.patternID = displayPattern.patternID
        serverPattern.brand = displayPattern.brand
        serverPattern.category = displayPattern.category
        serverPattern.description = displayPattern.description
        serverPattern.format = displayPattern.format
        serverPattern.ownerID = displayPattern.ownerID 
        //serverPattern.price = parseInt(displayPattern.price) // convert the string to an int
        return serverPattern
    }

    function convertServerPatternToDisplayPattern(pattern){
        displayPattern = {}
        displayPattern.patternID = pattern.patternID
        displayPattern.brand = pattern.brand
        displayPattern.category = pattern.category
        displayPattern.description = pattern.description
        displayPattern.format = pattern.format
        displayPattern.ownerID = pattern.ownerID
        return displayPattern
    }

    function processCreateResponse(result){
        displayPattern = convertServerPatternToDisplayPattern(result)
        addPatternToTable(displayPattern)
        showViewAll()
        clearForm()
    }

    // I should set this as the default function for the callback
    function doNothing(result){
        console.log("nothing:"+result)
        return "done"
    }
     //getAll(processGetAllResponse)

    function getAllAjax(){
    $.ajax({
        "url": "/patterns",
        "method":"GET",
        "data":"",
        "dataType": "JSON",
        "success":function(result){
            console.log(result);
            for (pattern of result){
                addPatternToTable(pattern);
            }
            
        },
        "error":function(xhr,status,error){
            console.log("error: "+status+" msg:"+error);
        }
    });
    }
    function createPatternAjax(pattern){
        console.log("Test" , JSON.stringify(pattern)); 
        $.ajax({
            "url": "/patterns",
            "method":"POST",
            "data":JSON.stringify(pattern),
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                if (result.patternID) {
                addPatternToTable(result);
                } else {
                addPatternToTable(pattern);
                }
                clearForm();
                showViewAll();
        },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function updatePatternAjax(pattern){
        console.log(JSON.stringify(pattern));
        $.ajax({
            "url": "/patterns/"+encodeURI(pattern.patternID),
            "method":"PUT",
            "data":JSON.stringify(pattern),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                console.log(result);
               
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function deletePatternAjax(patternID){
        $.ajax({
            "url": "/patterns/"+encodeURI(patternID),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    getAllAjax();
    </script>
</html>
