<!--
    This is the users page for the sewing patterns database. 
    New users can register to get a userID.
    Upon entering userID, it displays users information and buttons to create, update and delete users.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!--Awesome font-->
    <script src="https://kit.fontawesome.com/e8de472ad4.js" crossorigin="anonymous"></script>

    
</head>
<body>
    
    <div class="container p-3 my-3 bg-light rounded shadow-lg border-primary">

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg custom-navbar shadow-lg rounded" style="background-color: #696e8a;">
            <div class="container-fluid d-flex align-items-center justify-content-between">
    
            <!-- Brand -->
            <a class="navbar-brand text-white" href="#"><i class="fa-solid fa-scissors"></i></a>

            <!-- Toggle for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

                <!-- Nav links and search form -->
                <div class="collapse navbar-collapse" id="navbarNav">
                
                  <!-- Nav links -->
                    <ul class="navbar-nav d-flex flex-row me-auto">
                      <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="{{ url_for('index') }}">Sewing Patterns</a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link active" href="{{ url_for('users') }}">Users</a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="{{ url_for('about') }}">About</a>
                      </li>
                    </ul>

                    <!-- Button to add a new user-->
                    <button class="btn custom-btn border-dark" id="button-showCreateUser" onclick="showCreateUser()">Get your userID!</button>

                    <!-- Search form to search by userID-->
                    <form class="d-flex align-items-center mx-2 my-1" onsubmit="event.preventDefault(); searchByUserID();">
                      <input class="form-control form-control-md" id="userIdInput" type="search" placeholder="Enter User ID..." aria-label="Search" style="margin-top: 21px;">
                    </form>          
                
                </div>
            </div>
        </nav>
        <br>
        <!--Banner Image-->
        <img src="{{ url_for('static', filename='banner.png') }}" alt = "Sew Organised" class="img-fluid rounded shadow-lg" style="width: 100%; height: auto;">

        <br>

        <!-- Bootstrap alert container for messages -->
        <div id="alertContainer" class="my-3"></div>

        <!--View all users button-->
        <div><button class="btn custom-btn border-dark" id="button-showViewAllUsers" onclick="showViewAllUsers()">View All Users</button></div><br>
        <br>

        <!-- Table to display users -->
        <div class="container rounded shadow-lg border-dark">
           <div class="table-responsive">
               <table class="table table-striped w-100" id="userTable" style="display: none;">
                   <thead >
                       <tr>
                           <th class="col-1">UserID</th>
                           <th class="col-2">First Name</th>
                           <th class="col-3">Last Name</th>
                           <th class="col-3">Email</th>
                           <th class="col-2">Password</th>
                           <th class="col-1">Update</th>
                           <th class="col-1">Delete</th>
                       </tr>
                   </thead>
                   <tbody>
                   </tbody>
               </table>
           </div>
        </div>
    
        <!--Clear user-->
        <div class="col-md-3">
            <button id="clearUser" class="btn custom-btn" style="display: none;" onclick="clearUser()">Clear User</button>
        </div>

    <!--Form for creating and updating users.-->  
    <form id="createUserUpdateForm" style="display:none" onsubmit="return false;">
        <h2><span id="createLabel">Become a </span><span id="updateLabel">Update</span> User</h2>
        <hr>
        <input type="hidden" name="userID" class="form-control" autocomplete="off">
        <b>First Name: </b><br><input type="text" name="first_name" class="form-control" required>
        <b>Last Name: </b><br><input type="text" name="last_name" class="form-control" required>
        <b>Email: </b><br><input type="email"name="email" class="form-control" required >
        <b>Password: </b><br><input type="password" name="password" class="form-control" required>
        <!--Confirm Password<br><input type="password" name="confirmPassword" required><br/>
            <br><br>-->
        <span><button class="btn custom-btn border-dark" id="button-doCreateUser" onclick="doCreateUser()">Register</button></span>
        <span><button class="btn custom-btn border-dark" id="button-doUpdateUser" onclick="doUserUpdate()">Update</button></span>
    </form>

    <!--Log in form, unused-->
    <div id="loginForm" style="display:none;">
        <h2>Login</h2>
        Email<br><input type="email" id="loginEmail" required><br>
        Password<br><input type="password" id="loginPassword" required><br><br>
        <button class="btn custom-btn" onclick="doLogin()">Login</button>
    </div>

    <!--Footer-->
    <footer class="text-center text-white mt-5 rounded" style="background-color: #696e8a;">
    <div class="container p-4">
    <section class="mb-4">
        <p>Yes, you have way too many patterns but there's always room for one more! 
        <br>
        <a href="https://burdastyle.com" target="_blank" style="color: white;">burdastyle.com    </a>
        <a href="https://www.pattydoo.de/" target="_blank" style="color: white;">pattydoo.de</a>
        <a href="https://sewdirect.com" target="_blank" style="color: white;">sewdirect.com</a>          
        <a href="https://www.stylearc.com/" target="_blank" style="color: white;">stylearc.com</a>
        <a href="https://thefoldline.com/" target="_blank" style="color: white;">thefoldline.com</a>
        </p>
    <p class="mb-0">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>

<script>
    
    // Function to search for a user by UserID
    function searchByUserID() {
        const userID = $("#userIdInput").val().trim();
        if (userID) {
            getUserByID(userID);
            document.getElementById("userTable").style.display = "block";
            document.getElementById("clearUser").style.display = "block";
        } else {
            clearUserTable();
            getAllUserAjax();
            document.getElementById("userTable").style.display = "block";
            
        }
        }

        $(document).ready(function(){
        // Show UserID details on enter key
        $("#userIdInput").on("keypress", function(event) {
            if (event.which === 13) {
                event.preventDefault();
                searchByUserID();
            }
        });   
    });

    function clearUser(){
        document.getElementById("userTable").style.display = "none";
        document.getElementById("clearUser").style.display = "none";
        $("#userIdInput").val("");
    }
        
    // Function to show what elements to display when user click on "Get your userID"
    function showCreateUser(){
        document.getElementById("createUserUpdateForm").style.display = "block";
        document.getElementById("button-doCreateUser").style.display = "block";
        document.getElementById("button-doUpdateUser").style.display = "none";
        document.getElementById("createLabel").style.display = "inline";
        document.getElementById("updateLabel").style.display = "none";
        document.getElementById("button-showCreateUser").style.display = "none";
        document.getElementById("userTable").style.display = "none";
        document.getElementById("clearUser").style.display = "none";
        //document.getElementById("myInput").style.display = "none";
    }

    // Function to show what elements to display when user click on "View All Users" button
    function showViewAllUsers(){
        console.log('Showing view all')
        document.getElementById("createUserUpdateForm").style.display = "none"
        document.getElementById("button-showCreateUser").style.display = "block"
        document.getElementById("userTable").style.display = "block"
        document.getElementById("clearUser").style.display = "none";
    }

    // Function to show what elements to display when user clicks on "Update" button
    function showUserUpdate(buttonElement){
        //console.log('Updating user...');
        document.getElementById("createUserUpdateForm").style.display = "block";
        document.getElementById("button-doCreateUser").style.display = "none";
        document.getElementById("button-doUpdateUser").style.display = "block";
        document.getElementById("createLabel").style.display = "none";
        document.getElementById("updateLabel").style.display = "inline";
        document.getElementById("button-showCreateUser").style.display = "none";
        document.getElementById("userTable").style.display = "none";
        document.getElementById("clearUser").style.display = "none";
        //document.getElementById("myInput").style.display = "none";
        var rowElement= buttonElement.parentNode.parentNode;
        var user = getUserFromRow(rowElement);
        console.log('User to update:', user);
        //console.log(User)
        populateFormWithUser(user);
    }

    // Function to create a new user
    function doCreateUser(){
        var form = document.getElementById('createUserUpdateForm')
        if (!form.checkValidity()) {
        form.reportValidity();
        return;
        }

        var user = {}
        user.first_name = form.querySelector('input[name="first_name"]').value
        user.last_name = form.querySelector('input[name="last_name"]').value
        user.email = form.querySelector('input[name="email"]').value
        user.password = form.querySelector('input[name="password"]').value
        //user.confirmPassword = form.querySelector('input[name="confirmPassword"]').value
        // Don't console.log(user) as it contains the password.
        //console.log(JSON.stringify(user))
        createUserAjax(user);
    }

    // Function to update an existing user when the user clicks on the "Update" button
    function doUserUpdate(){
        var form = document.getElementById('createUserUpdateForm')
        if (!form.checkValidity()) {
        form.reportValidity();
        return;
        }

        console.log("in update")
        var user = getUserFromForm();
        var rowElement = document.querySelector(`[userID='${user.userID}']`);
        if (rowElement) {
            updateUserAjax(user);
            setUserInRow(rowElement, user);
            clearUserForm();
            showViewAllUsers();
        } else {
            console.log('Row element not found')
        }
    }

    // Function to delete a user when the user clicks on the "Delete" button
    function doUserDelete(r){
        console.log("in delete")
        var tableElement = document.getElementById('userTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            //Logic to delete the item
            console.log("deleting "+ rowElement.getAttribute("userID"))
            deleteUserAjax(rowElement.getAttribute("userID"));
            tableElement.deleteRow(index);
            showViewAllUsers()
        }
    }
    
    // Function to add user to the table
    function addUserToTable(user){
        var tableElement = document.getElementById('userTable').querySelector('tbody');
        //console.log("Adding user to table:", user);
        var rowElement = tableElement.insertRow(-1)
        
        rowElement.setAttribute('userID', user.userID)
        
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = user.userID
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = user.first_name
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = user.last_name
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = user.email
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = '********'
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = '<button class="btn custom-btn-update" onclick="showUserUpdate(this)">Update</button>'
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = '<button class="btn btn-outline-danger" onclick="doUserDelete(this)">Delete</button>'
    }

    // Function to clear the user table
    function clearUserTable() {
        document.getElementById('userTable').querySelector('tbody').innerHTML = '';
    }

    // Function to clear the user form
    function clearUserForm(){
        var form = document.getElementById('createUserUpdateForm')

        form.querySelector('input[name="first_name"]').value=''
        form.querySelector('[name="last_name"]').value =''
        form.querySelector('[name="email"]').value= ''
        form.querySelector('input[name="password"]').value=''
    }

    // Function to get user data from the row element
    function getUserFromRow(rowElement){
        var user ={}
        user.userID  = rowElement.getAttribute('userID')
        user.first_name = rowElement.cells[1].textContent;
        user.last_name = rowElement.cells[2].textContent;
        user.email = rowElement.cells[3].textContent;
        //user.password = rowElement.cells[4].textContent;
        return user
    }
    // Function to set user data in the row element
    function setUserInRow(rowElement, user){
        rowElement.cells[0].firstChild.textContent = user.userID;
        rowElement.cells[1].firstChild.textContent = user.first_name;
        rowElement.cells[2].firstChild.textContent = user.last_name;
        rowElement.cells[3].firstChild.textContent = user.email;
        //rowElement.cells[4].firstChild.textContent = user.password;
    }

    // Function to populate the form with user data
    function populateFormWithUser(user){
        console.log("Populating form with user:", user);
        var form = document.getElementById('createUserUpdateForm');
        form.querySelector('input[name="userID"]').disabled = true;
        
        form.querySelector('input[name="userID"]').value  = user.userID;
        form.querySelector('input[name="first_name"]').value= user.first_name;
        form.querySelector('input[name="last_name"]').value = user.last_name;
        form.querySelector('input[name="email"]').value= user.email;
        form.querySelector('input[name= "password"]').value = '';
        return user;
    }
    // Function to get user data from the form
    function getUserFromForm(){
        var form = document.getElementById('createUserUpdateForm')
        var user = {}
        
        user.userID = form.querySelector('input[name="userID"]').value
        user.first_name = form.querySelector('input[name="first_name"]').value
        user.last_name = form.querySelector('[name="last_name"]').value
        user.email = form.querySelector('[name="email"]').value
        user.password = form.querySelector('[name="password"]').value
        //console.log(JSON.stringify(user))
        return user
    }

    // Sends an AJAX GET request to get all users
    function getAllUserAjax(){
        $.ajax({
            "url": "/users/all_users",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                console.log(result);
                for (user of result){
                    addUserToTable(user);
                }
            },
            "error":function(xhr,status,error){
                //console.log("error: "+status+" msg:"+error);
                //console.log("Response text: " +xhr.responseText)
            }
        });
    }

    // Sends an AJAX POST request to create a new user
    function createUserAjax(user){
        //console.log("Test" , JSON.stringify(user)); 
        $.ajax({
            "url": "/users",
            "method":"POST",
            "data":JSON.stringify(user),
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                user.userID = result.userID
                addUserToTable(result);
                clearUserForm();
                showViewAllUsers();
                showAlert("Welcome " + result.first_name +". Your userID is: " +result.userID, 'success');
        },
            "error":function(xhr,status,error){
                //console.log("error: "+status+" msg:"+error);
            }
        });
    }

    // Sends an AJAX PUT request to update an existing user
    function updateUserAjax(user){
        //console.log(JSON.stringify(user));
        $.ajax({
            "url": "/users/"+encodeURI(user.userID),
            "method":"PUT",
            "data":JSON.stringify(user),
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                console.log("User updated successfully")
                showAlert("UserID " + user.userID + " updated.", 'success')
                // Don't console.log(result) as it contains the hashed password
                //console.log(result);
            
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    // Sends an AJAX DELETE request to delete a user by userID
    function deleteUserAjax(userID){
        $.ajax({
            "url": "/users/"+encodeURI(userID),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            "contentType": "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                showAlert("User " + userID + " deleted.", 'success')
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    // Function to show an alert message
    function showAlert(message, type = 'danger') {
    const alertHtml = `
      <div class="alert alert-${type} alert-dismissible fade show" role="alert">
        ${message}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    `;
    document.getElementById('alertContainer').innerHTML = alertHtml;
    }

    // Sends an AJAX GET request to get a user by userID
    function getUserByID(userID) {
    $.ajax({
        url: "/users/" + encodeURIComponent(userID),
        method: "GET",
        dataType: "JSON",
        success: function(user) {
            $('#userTable tbody').empty(); // Clear table
            if (user && user.userID) {
                addUserToTable(user); 
            } else {
                showAlert("UserID not found");
            }
        },
        error: function(xhr, status, error) {
            console.log("Error fetching pattern:", error);
            showAlert(`UserID ${userID} not found.`, 'primary');
        }
    });
    }    
    
    getAllUserAjax();

    </script>
</html>